.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carga{
    background-color: #8db42f;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
}
