.container{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(98, 97, 97)
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    /* border: 1px solid #dee2e6; */
}
table td, table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}